<table class="table table-hovered">
  <caption>Мои личные сообщения</caption>
  <thead>
    <tr>
      <th>Text</th>
      <th>Recipient</th>
      <th>Deliver</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @direct_messages.each do |direct_message| %>
      <tr>
        <td><%= direct_message.text %></td>
        <td><%= direct_message.recipient %></td>
        <td><%= direct_message.deliver %></td>
        <td><%= link_to 'Show', direct_message %></td>
        <td><%= link_to 'Destroy', direct_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Direct message', new_direct_message_path %>
