<table class="table table-striped" id="sent-tweets-table">
  <caption>Мои твиты</caption>
  <thead>
    <tr>
      <th>Text</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sent_tweets.each do |tweet| %>
      <% cache tweet do %>
        <tr>
          <td><%= truncate(tweet.text, length: 33) %></td>
          <td><%= tweet.deliver %></td>
          <td><%= link_to 'Show', tweet %></td>
          <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
          <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>

  </tbody>
</table>

<%= paginate @sent_tweets, param_name: 'page_for_sent' %>